-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Gender" AS ENUM ('M', 'F');

-- CreateTable
CREATE TABLE "childrens" (
    "id" SERIAL NOT NULL,
    "employee_id" INTEGER,
    "partner_id" INTEGER,
    "home_id" INTEGER,
    "children_name" VARCHAR(150) NOT NULL,
    "is_active" BOOLEAN DEFAULT true,
    "children_birthdate" DATE,
    "children_address" TEXT,
    "children_phone" VARCHAR(30),
    "notes" TEXT,
    "is_father_alive" BOOLEAN,
    "is_mother_alive" BOOLEAN,
    "children_gender" "Gender",
    "is_condition" BOOLEAN,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "children_pict" VARCHAR(255),
    "index" INTEGER,
    "nik" VARCHAR(30),
    "children_job" VARCHAR(50),

    CONSTRAINT "childrens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "cities" (
    "city_id" SERIAL NOT NULL,
    "province_id" INTEGER NOT NULL,
    "city_code" VARCHAR(50),
    "city_name" VARCHAR(150) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cities_pkey" PRIMARY KEY ("city_id")
);

-- CreateTable
CREATE TABLE "employees" (
    "id" SERIAL NOT NULL,
    "nip_nipp" VARCHAR(20),
    "employee_name" VARCHAR(100),
    "death_cause" VARCHAR(100),
    "last_position" VARCHAR(100),
    "region_id" INTEGER,
    "notes" TEXT,
    "employee_gender" "Gender",
    "is_accident" BOOLEAN,
    "employee_pict" VARCHAR(255),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "employees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "homes" (
    "id" SERIAL NOT NULL,
    "partner_id" INTEGER,
    "employee_id" INTEGER,
    "wali_id" INTEGER,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "region_id" INTEGER,
    "postal_code" VARCHAR(5),

    CONSTRAINT "homes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "partners" (
    "id" SERIAL NOT NULL,
    "employee_id" INTEGER,
    "partner_name" VARCHAR(150),
    "partner_job" VARCHAR(100),
    "partner_nik" VARCHAR(30),
    "region_id" INTEGER,
    "address" TEXT,
    "subdistrict_id" INTEGER,
    "postal_code" VARCHAR(10),
    "home_coordinate" VARCHAR(50),
    "phone_number" VARCHAR(20),
    "phone_number_alt" VARCHAR(20),
    "is_active" BOOLEAN DEFAULT true,
    "is_alive" BOOLEAN,
    "partner_pict" VARCHAR(255),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "employee_partners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "provinces" (
    "province_id" SERIAL NOT NULL,
    "province_code" VARCHAR(50),
    "province_name" VARCHAR(150) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "provinces_pkey" PRIMARY KEY ("province_id")
);

-- CreateTable
CREATE TABLE "regions" (
    "region_id" SERIAL NOT NULL,
    "region_name" VARCHAR(150) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "regions_pkey" PRIMARY KEY ("region_id")
);

-- CreateTable
CREATE TABLE "roles" (
    "id" SERIAL NOT NULL,
    "role_name" VARCHAR(50) NOT NULL,

    CONSTRAINT "roles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "staffs" (
    "id" SERIAL NOT NULL,
    "staff_name" VARCHAR(100) NOT NULL,
    "gender" "Gender" NOT NULL,
    "birthplace" VARCHAR(50),
    "birthdate" DATE,
    "address" VARCHAR(255),
    "phone_number" VARCHAR(15),
    "email" VARCHAR(100),
    "nik" VARCHAR(20) NOT NULL,
    "role_id" INTEGER NOT NULL,
    "staff_pict" VARCHAR(255),

    CONSTRAINT "staffs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subdistricts" (
    "subdistrict_id" SERIAL NOT NULL,
    "city_id" INTEGER NOT NULL,
    "subdistrict_name" VARCHAR(150) NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "subdistricts_pkey" PRIMARY KEY ("subdistrict_id")
);

-- CreateTable
CREATE TABLE "umkm" (
    "id" SERIAL NOT NULL,
    "partner_id" INTEGER,
    "owner_name" VARCHAR(255),
    "business_name" VARCHAR(255),
    "business_address" TEXT,
    "region_id" INTEGER,
    "subdistrict_id" INTEGER,
    "postal_code" VARCHAR(10),
    "umkm_coordinate" VARCHAR(100),
    "business_type" VARCHAR(100),
    "products" TEXT,
    "employee_id" INTEGER,
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "wali_id" INTEGER,
    "children_id" INTEGER,
    "umkm_pict" VARCHAR(255),

    CONSTRAINT "umkm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "user_id" SERIAL NOT NULL,
    "username" VARCHAR(30) NOT NULL,
    "password" VARCHAR(255) NOT NULL,
    "staff_id" INTEGER
);

-- CreateTable
CREATE TABLE "wali" (
    "id" SERIAL NOT NULL,
    "employee_id" INTEGER,
    "wali_name" VARCHAR(100) NOT NULL,
    "relation" VARCHAR(50),
    "wali_address" TEXT,
    "address_coordinate" VARCHAR(50),
    "wali_phone" VARCHAR(20),
    "created_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) DEFAULT CURRENT_TIMESTAMP,
    "wali_pict" VARCHAR(255),
    "nik" VARCHAR(30),
    "wali_job" VARCHAR(50),

    CONSTRAINT "wali_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "idx_cities_province_id" ON "cities"("province_id");

-- CreateIndex
CREATE UNIQUE INDEX "employees_nip_nipp_key" ON "employees"("nip_nipp");

-- CreateIndex
CREATE UNIQUE INDEX "provinces_province_code_key" ON "provinces"("province_code");

-- CreateIndex
CREATE UNIQUE INDEX "roles_role_name_key" ON "roles"("role_name");

-- CreateIndex
CREATE UNIQUE INDEX "staffs_email_key" ON "staffs"("email");

-- CreateIndex
CREATE UNIQUE INDEX "staffs_nik_key" ON "staffs"("nik");

-- CreateIndex
CREATE INDEX "idx_subdistricts_city_id" ON "subdistricts"("city_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "users"("username");

-- AddForeignKey
ALTER TABLE "childrens" ADD CONSTRAINT "childrens_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "childrens" ADD CONSTRAINT "childrens_home_id_fkey" FOREIGN KEY ("home_id") REFERENCES "homes"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "childrens" ADD CONSTRAINT "childrens_partner_id_fkey" FOREIGN KEY ("partner_id") REFERENCES "partners"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "cities" ADD CONSTRAINT "cities_province_id_fkey" FOREIGN KEY ("province_id") REFERENCES "provinces"("province_id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "employees" ADD CONSTRAINT "employees_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "regions"("region_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "homes" ADD CONSTRAINT "fk_homes_region" FOREIGN KEY ("region_id") REFERENCES "regions"("region_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "homes" ADD CONSTRAINT "homes_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "homes" ADD CONSTRAINT "homes_partner_id_fkey" FOREIGN KEY ("partner_id") REFERENCES "partners"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "homes" ADD CONSTRAINT "homes_wali_id_fkey" FOREIGN KEY ("wali_id") REFERENCES "wali"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "partners" ADD CONSTRAINT "employee_partners_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "partners" ADD CONSTRAINT "employee_partners_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "regions"("region_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "staffs" ADD CONSTRAINT "staffs_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "roles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "subdistricts" ADD CONSTRAINT "subdistricts_city_id_fkey" FOREIGN KEY ("city_id") REFERENCES "cities"("city_id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "umkm" ADD CONSTRAINT "umkm_children_id_fkey" FOREIGN KEY ("children_id") REFERENCES "childrens"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "umkm" ADD CONSTRAINT "umkm_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "umkm" ADD CONSTRAINT "umkm_partner_id_fkey" FOREIGN KEY ("partner_id") REFERENCES "partners"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "umkm" ADD CONSTRAINT "umkm_region_id_fkey" FOREIGN KEY ("region_id") REFERENCES "regions"("region_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "umkm" ADD CONSTRAINT "umkm_wali_id_fkey" FOREIGN KEY ("wali_id") REFERENCES "wali"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "fk_users_staff" FOREIGN KEY ("staff_id") REFERENCES "staffs"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "wali" ADD CONSTRAINT "wali_employee_id_fkey" FOREIGN KEY ("employee_id") REFERENCES "employees"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

